# Compiled Object and Dependency Files
# Object files and dependencies
*.o
*.d

# Executables
*.exe
kansas*
progress/*

# VS Code User-Specific Files
.vscode/settings.json
.vscode/*.o
.vscode/*.d
# VS Code Build Artifacts (optional, but good)
.vscode/*.o
.vscode/*.d

# User-specific files
.vscode/settings.json
